@model IEnumerable<Clinic8.Models.Reports>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rep_pat_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_ref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rep_dr_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rep_cons_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rep_cons_cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rep_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rep_pat_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rep_dr_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rep_cons_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rep_cons_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rep_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rep_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rep_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rep_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
