@model IEnumerable<Clinic8.Models.InsuranceCompany>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ins_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ins_fax)
            </th>       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ins_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ins_fax)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
