@model IEnumerable<Clinic8.Models.Consultation>
@using Microsoft.EntityFrameworkCore
@using Clinic8.Data

@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "ViewConsultation";
}


<p>
    <a asp-controller="Consultations" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                patient username
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_d)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_blood_presure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_treatment)
            </th>
            <th>
                IC username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var patient = _context.Patient.Where(e => e.Id == item.ins_pat).Single();

                        var x = patient.pat_firstname + " " + patient.pat_lastname;
                    }
                    @x
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_d)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_symptoms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_blood_presure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_treatment)
                </td>
                <td>
                    @{
                        var ins = _context.InsuranceCompany.Where(e => e.Id == item.ins_ref).Single();

                        var y = ins.ins_name;
                    }
                    @y
                </td>
                <td>
                    <a asp-controller="Consultations" asp-action="Edit" asp-route-id="@item.cons_id">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
