@model Clinic8.Models.Dates

@{
    ViewData["Title"] = "Details";

}


<h1>Details</h1>

<div>
    <h4>Dates</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pat_rel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pat_rel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.doc_rel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.doc_rel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_date)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.date_id">Edit</a> |*@

</div>
