@model Clinic8.Models.Patient

@{
    ViewData["Title"] = "Details";
            Layout = "~/Views/Shared/AssistantNavBar.cshtml";

}



<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_middlename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_middlename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_lastname)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.pat_geneder)*@Gender
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_geneder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_username)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pat_blood_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pat_blood_type)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
