@model IEnumerable<Clinic8.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admin_fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_mname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
